@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <nav class="col-sm-3">
        <h3>Have these downloaded before starting:</h3>
        <ul>
            <li><a href="https://uo.com/client-download/" target="_blank">UO Official Classic Client</a></li>
            <li><a href="https://git-scm.com/downloads" target="_blank">Git Bash</a></li>
            <li><a href="https://www.runuo.net/" target="_blank">RunUO</a></li>
            <li><a href="https://visualstudio.microsoft.com/vs/community/" target="_blank">Visual Studio Community</a></li>
            <li><a href="https://www.microsoft.com/en-us/p/rar-extractor/9nblggh5xlq9?activetab=pivot:overviewtab" target="_blank">A RAR Extractor</a></li>
        </ul>
    </nav>

    <main id="contentbar" class="col-sm-9">
        <div class="article">
            <h2><img src="redarrow.png" alt="LOOKLEFT" width="50px"><span class=customlargetext>Start by downloading these!</span></h2>
            <h2>Welcome to the noob's guide to installing a local UO test environment on a Windows machine</h2>
            <h3>What is Ultima Online?</h3>
            <p>
                Ultima Online (UO) began in 1998 and quickly became the most popular MMORPG of the time. Before MMOs such as World of Warcraft, when you thought of MMOs,
                you thought about Ultima Online. It features a large open world where the player can choose to be whatever they want to be. UO was remarkable for its unforgiving
                open world pvp and loot system. It is, in my opinion, the original dark souls-esque MMO. UO still exists today, and is free to play through <a href="https://www.uo.com" target="_blank">www.UO.com</a>
            </p>
            <h3>What is ClassicUO?</h3>
            <p>
                UO still exists today and is playable for free by anyone. However, this version lacks much of what made the original UO challenging and, in turn, rewarding. There is no offical
                server that contains the original PVP and loot system that existed back in 1998. Naturally, people wanted that original experience. That's where ClassicUO,
                an open source project, steps in. ClassicUO seeks to provide an optimization for the classic UO client for modern machines that community servers can use in order to provide a "classic"
                experience.
            </p>
            <h3>What is this guide for?</h3>
            <p>
                I played Ultima Online in its original form back in 1998 and always wanted to make my own changes to improve the game or experiment with the game files. Lacking my
                own private server and being pretty much a software noob, this was a challenge. But, through perseverance and many questions to the official ClassicUO team (they have saint level patience to deal with the likes of me),
                I managed to get my own version of the game running locally so I can see the changes I make to the ClassicUO code.
            </p>
            <p><i>In short, this guide is meant to be used if you also want to learn how to create a local version of ClassicUO that you have full control over.</i></p>
        </div>
    </main>
</div>
