
@{
    ViewBag.Title = "Step 2:Preparing RunUO";
}
<div class="article">
    <h2>@ViewBag.Title</h2>
    <ol>
        <li>After you installed the RAR extractor, use it on the RunUO package</li>
        <li>Extract the files to the directory you want RunUO to live</li>
        <li>Once extracted, open the RunUO.exe file.</li>
        <li>This will ask you to create a username and password for the master account. Enter these details.</li>
        <li>Once you create the account, RunUO will open a port to listen for incoming signals. This server and port are listed last on the list</li>
        <li>It will look like: <asp:Image runat=”server” ImageURL=”~/Content/images/staticip.png”></asp:Image></li>
        <li>Remember the last IP address and port. In the picture above, it is 127.0.0.1: port 2593</li>
        <li>Leave this window open. It will keep the server live while you play.</li>
    </ol>
</div>