@{
    ViewBag.Title = "Step 1: Preparing your computer";
}
<h2>@ViewBag.Title</h2>


<div class="article">
    <ol>
        <li>Download all of the software and install then on your computer with the default settings linked on the left side of this page: @Html.ActionLink("Home", "Index", "Home")</li>
        <li>
            Install the Ultima Online Classic Client to the default location. Run it to start patching. This may take a while, the software is downloading
            files it needs to render the game. Close when the patch is done (play button is clickable).
        </li>
        <li>
            Install Visual Studio with the default settings and choose ASP.NET and web development, .NET Desktop Development, and Universal Windows Platform when you arrive
            at the workloads page. Once that has installed, close Visual studio until later.
        </li>
        <li>Install the RAR extractor with default settings.</li>
        <li>Don't worry about the RunUO.rar file just yet. We'll get to that in Step 2</li>
        <li>You now have the proper software to run your own local UO server!</li>
    </ol>
</div>
