
@{
    ViewBag.Title = "Step 3: Opening and building ClassicUO with Git";
}

<div class="article">
    <h2>@ViewBag.Title</h2>
    <ol>
        <li>Unzip the ClassicUO files to the directory you want.</li>
        <li>Open Git in the folder you installed your ClassicUO</li>
        <li>Force a dependency update using git submodule update --init --recursive</li>
        <li>Rebuild the project</li>
        <li>Update the settings.json file to have the file locations for your UO client.</li>
        <li>Click Run and log in with your admin account!</li>
        <li>That's all. Enjoy your private server!</li>
    </ol>
</div>
